body {
   
    font-family: 'Merriweather', serif;
    background: url("../congruent_outline.png");
    background-color: black;
    
}

h1 {
    text-align: center;
    color:gray;
}

h4 {
    text-align: center;
    color: red;
}

div {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
    font:6px
}

footer {
    text-align: center;
    color: white;
}

button {
    margin: 2px;
}

button {
    background-color: darkgrey
}
